/*
 * wifi_secret.h
 *
 *  Created on: Sep 4, 2022
 *      Author: vitya
 */

#ifndef SRC_WIFI_SECRET_H_
#define SRC_WIFI_SECRET_H_


const char * wifi_ssid     = "MY_WLAN_SSID";
const char * wifi_password = "MY_WLAN_PASSWORD";


#endif /* SRC_WIFI_SECRET_H_ */
